*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, "Akaya Telivigala", "Dancing Script";
}
a{
    text-decoration: none;
}
body{
    background-color: #F8F9FA;
}
main {
    display: flex;
    flex-wrap: nowrap;
}
main .article-section{
    padding: 10px;
    background-color: #fff;
}